@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Decalotype';
    box-sizing: border-box;
}
:root{
    --cor-principal: #2E2E2E;
    --cor-secundaria: #FFD93B;
    --fonte-principal: 'Decalotype'
    
}

@font-face {
    font-family: 'Decalotype';
    src: url('fontes/TTF/Decalotype-Regular.ttf') format('ttf'), url('fontes/OTF/Decalotype-Regular.otf') format('otf'), url('fontes/WEB/Decalotype-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Decalotype';
    src: url('fontes/TTF/Decalotype-Medium.ttf') format('ttf'), url('fontes/OTF/Decalotype-Mediumt.otf') format('otf'), url('fontes/WEB/Decalotype-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Decalotype';
    src: url('fontes/TTF/Decalotype-SemiBold.ttf') format('ttf'), url('fontes/OTF/Decalotype-SemiBold.otf') format('otf'), url('fontes/WEB/Decalotype-SemiBold.woff') format('woff');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Decalotype';
    src: url('fontes/TTF/Decalotype-Bold.ttf') format('ttf'), url('fontes/OTF/Decalotype-Bold.otf') format('otf'), url('fontes/WEB/Decalotype-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}

body{
    background-color: #2B2B2B;
}

nav{
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.45);
}

h1{
    margin-top: 10px;    
    color: var(--cor-secundaria);
    font-weight: 600;
    z-index: 100;
    font-size: 61px;
}

h2{
    margin-top: 10px;
    font-weight: 600;
    color: white;
    font-size: 40px;
    letter-spacing: 1px;
}

h3{
    color: white;
}

a{
    color: var(--cor-secundaria);
    text-decoration: none;
}

p{
    font-weight: 400;
    color: #cccccc;
    font-size: 18px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

li {
    float: left;
    color: white;
  }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
.list__orienation{
    display: block;
}

.list__orienation > li{
    margin-top: 15px;
    font-size: 16px;
    color: #E0E0E0;
    border-left: solid 1px #FFD93B;
    padding-left: 10px;
}
.container__properties{
    width: 1520px;
    height: inherit;
    padding: 75px 45px;
    margin: auto;
}

.container__half__equalwidth{
    width: 50%;
    padding-right: 120px;
}

.container__flex__orientation__center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec__principal{
    
    z-index: 2;
    margin-top: -90px;
    width: 100%;
    height: 900px;
    background-image: url(img/background-edited.jpg);
    background-size: cover;
    background-position: center;
    
    
}

.sobreposicao__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 100%;
    gap: 50px;
    padding: 10px;
}

.container__texto__principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    
}

.container__texto__principal h1{
    width: 60%;
}

.container__icone{
    display: flex;
    align-items: flex-end;
    height: 200px;
}
#b1{
    font-size: 18px;
    color: white;
    border: solid 1px #9E9E9E;
    padding: 15px 40px;
    border-radius: 2px;
    font-weight: 700;
    letter-spacing: 1px;
}

#b2{
    font-size: 18px;
    border: solid 1px #0E0E0E;
    background-color: #0E0E0E;
    padding: 15px 40px;
    border-radius: 2px;
    font-weight: 700;
    letter-spacing: 1px;
}

.container__botoes{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

#sec2{
    
    padding: 76px 45px;
    background-color: #191919;
}

.sec__2__holdContent{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 1290px;
    height: 516px;
    gap: 20px;
}

.sec__2__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
    width: 50%;
    height: 100%;
}
.sec__2__content p{
    width: 65%;
}
.sec__2__content #c1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    
    height: 85%;
}

.sec__2__content #c2{
    display: flex;
    align-items: flex-end;
    gap: 15px;
    width: 80%;
}

#c1 p{
    margin-top: 30px;
}


#sec3{
    width: 100%;
    height: 655px;
    overflow: hidden;
    background-color: #212121;
}

.img__map{
    width: 600px;
}

.container__lista{
    margin: 30px 0 0 30px;
}

.hr__w{
    width: 100%;
    background-color: transparent;
    border: 1px solid #424242;
}
.hold__image{
    text-align: start;
    width: 50%;
}

.img__sec2{
    width: 640px;
    object-fit: cover;
}