@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Decalotype';
    box-sizing: border-box;
}
:root{
    --cor-principal: #2E2E2E;
    --cor-secundaria: #FFD93B;
    --fonte-principal: 'Decalotype'
    
}

@font-face {
    font-family: 'Decalotype';
    src: url('fontes/TTF/Decalotype-Regular.ttf') format('ttf'), url('fontes/OTF/Decalotype-Regular.otf') format('otf'), url('fontes/WEB/Decalotype-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Decalotype';
    src: url('fontes/TTF/Decalotype-Medium.ttf') format('ttf'), url('fontes/OTF/Decalotype-Mediumt.otf') format('otf'), url('fontes/WEB/Decalotype-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Decalotype';
    src: url('fontes/TTF/Decalotype-SemiBold.ttf') format('ttf'), url('fontes/OTF/Decalotype-SemiBold.otf') format('otf'), url('fontes/WEB/Decalotype-SemiBold.woff') format('woff');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Decalotype';
    src: url('fontes/TTF/Decalotype-Bold.ttf') format('ttf'), url('fontes/OTF/Decalotype-Bold.otf') format('otf'), url('fontes/WEB/Decalotype-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 auto;
    min-width: fit-content;
    background-color: #191919;
}


#menu__header{
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.45);
}

h1{
    margin-top: 10px;    
    color: var(--cor-secundaria);
    font-weight: 600;
    z-index: 100;
    font-size: 61px;
}

h2{
    margin-top: 10px;
    font-weight: 600;
    color: white;
    font-size: 40px;
    letter-spacing: 1px;
}

h3{
    color: white;
}

a{
    color: var(--cor-secundaria);
    text-decoration: none;
}

p{
    font-weight: 400;
    color: #9E9E9E;
    font-size: 18px;
    line-height: 23px;
}


ul{
    list-style-type: none;
}
#menu__header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

#menu__header nav li {
    float: left;
    color: #cccccc;
  }

#menu__header li a {
    position: relative;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }

#menu__header li a::before,
#menu__header li a::after {
  position: absolute;
  width: 15px;
  height: 10px;
  content: "";
  transition: border-color 1s ease-out;
  border-color: transparent;
  
} 

#menu__header li a:hover::before {
    left: 0;
    top: 0;
    border-left: 2px solid var(--cor-secundaria);
    border-top: 2px solid var(--cor-secundaria);
   }

#menu__header li a:hover::after{
    right: 0;
    bottom: 0;
    border-right: 2px solid  var(--cor-secundaria);
    border-bottom: 2px solid var(--cor-secundaria) ;
}

.display__flex{
    display: flex;
}

.list__orienation{
    display: block;
    width: 100%;
}

.list__orienation > li{
    margin-top: 15px;
    font-size: 16px;
    color: #9E9E9E;
    border-left: solid 1px #FFD93B;
    padding-left: 15px;
}
.container__properties{
    max-width: 1420px;
    height: inherit;
    padding: 75px 45px;
    margin: auto;
}

.container__half__equalwidth{
    width: 50%;
}



.container__flex__orientation__center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec__principal{
    
    z-index: 2;
    margin-top: -90px;
    width: 100%;
    height: 900px;
    background-image: url(img/background-edited.jpg);
    background-size: cover;
    background-position: center;
    
    
}

.sobreposicao__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 100%;
    gap: 50px;
    padding: 10px;
}

.container__texto__principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    
}

.container__texto__principal h1{
    width: 60%;
}

.container__icone{
    display: flex;
    align-items: flex-end;
    height: 200px;
}


.black__button{
    position: relative;
    font-size: 18px;
    border: solid 1px #0E0E0E;
    background-color: #0E0E0E;
    padding: 15px 40px;
    border-radius: 2px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 0.5s, padding 0.5s, padding-left 0.5s 0.4s, padding-right 0.5s 0.4s;

}

.black__button:hover{
    padding: 10px 30px;
    background-color: transparent;
    border: 1px solid #fff5cb1e;
    color: white;
}

.black__button::before,
.black__button::after {
  position: absolute;
  width: 15px;
  height: 10px;
  content: "";
  transition: border-color 1s ease-out;
  border-color: transparent;
} 

.black__button:hover::before {
    left: 0;
    top: 0;
    border-left: 2px solid var(--cor-secundaria);
    border-top: 2px solid var(--cor-secundaria);
   }

.black__button:hover::after {
    right: 0;
    bottom: 0;
    border-right: 2px solid  var(--cor-secundaria);
    border-bottom: 2px solid var(--cor-secundaria) ;
}

.transparent__button{
    position: relative;
    font-size: 18px;
    color: white;
    border: solid 1px #9E9E9E;
    padding: 15px 40px;
    border-radius: 2px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 0.5s, padding 0.5s, padding-left 0.5s 0.4s, padding-right 0.5s 0.4s;
}

.transparent__button:hover{
    padding: 10px 30px;
    border: 1px solid #ffd83b28;
    color: var(--cor-secundaria);
}

.transparent__button::before,
.transparent__button::after {
  position: absolute;
  width: 15px;
  height: 10px;
  content: "";
  transition: border-color 1s ease-out;
  border-color: transparent;
} 

.transparent__button:hover::before {
    left: 0;
    top: 0;
    border-left: 2px solid var(--cor-secundaria);
    border-top: 2px solid var(--cor-secundaria);
   }

.transparent__button:hover::after {
    right: 0;
    bottom: 0;
    border-right: 2px solid  var(--cor-secundaria);
    border-bottom: 2px solid var(--cor-secundaria) ;
}

.container__botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

#sec2{
    
    padding: 76px 45px;
    background-color: #191919;
}

.sec__2__holdContent{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 516px;
    gap: 20px;
}

.sec__2__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    width: 50%;
    height: 100%;
}
.sec__2__content p{
    width: 65%;
}
.sec__2__content #c1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    height: 85%;
}

.sec__2__content #c2{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 15px;
    width: 100%;
    margin-top: 45px;
}

.sec__2__content #c2 hr{
    width: 40%;
}

#c1 p{
    margin-top: 30px;
}


#sec3{
    width: 100%;
    height: 655px;
    overflow: hidden;
    background-color: #212121;
}

.img__map{
    width: 100%;
    max-width: 600px;
    height: auto;
}

.container__lista{
    margin: 30px 0 0 15px;
}

.hr__w{
    width: 100%;
    background-color: transparent;
    border: 1px solid #424242;
}
.hold__image{
    text-align: start;
    width: 50%;
}

.img__sec2{
    width: 100%;
    max-width: 640px;
    object-fit: cover;
}

.grid{
    color: #E0E0E0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(107px, auto);
    width: 66%;
}

.grid > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 22px 33px;
    border: 1px solid #616161;
    text-align: center;
    max-width: 246px;
    font-size: 16px;
    font-weight: 400;
}

.grid .borderless{
    border: 0px solid;
}

.vantagens{
    display: flex;
    align-items: flex-end;
}

.div__vantagens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    width: 30%;
    margin-right: 100px;
    padding-right: 30px;
}

.div__vantagens h2{
    margin-top: 13px;
    color: var(--cor-secundaria);
    font-size: 50px;
}

.div__vantagens h3{
    font-size: 30px;
    font-weight: 600;
}
.div__vantagens a{
    margin-top: 10px;
}

.container__padrao__sec__LeiMaquila{
    margin: 30px 0 30px 0;
    padding: 80px 110px;
    background-color: #212121;
}

.container__LeiMaquila__div1{
    margin: 0 auto;
    text-align: center;
}

.container__LeiMaquila__div2{
    margin-top: 65px;
    text-align: start;
}

.container__padrao__sec__LeiMaquila h2{
    margin-bottom: 25px;
    font-size: 61px;
    font-weight: 600;
}

.container__padrao__sec__LeiMaquila h3{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
}

.container__LeiMaquila__div1 p{
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    width: 90%;
}

.container__LeiMaquila__div2 p{
    font-size: 18px;
}

.grid2col{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(210px, auto);
    grid-gap: 30px;
    width: 95%;
    margin: 0 auto;
}

.caracteristicas__LeiMaquila{
    display: flex;
    align-items: flex-start;
    padding: 30px;
    background-color: #212121;
}

.caracteristicas__LeiMaquila p{
    font-size: 16px;
    font-weight: 400;
}

.caracteristicas__LeiMaquila h4{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--cor-secundaria)
}

.caracteristicas__LeiMaquila > div{
    margin-left: 33px;
}

.sec4__title{
    display: flex;
    align-items: center;
    gap: 20px;
}

.sec4__title h2{
    display: inline-block;
    color: var(--cor-secundaria);
    font-size: 40px;
    margin-top: 0;
    width: 45%;
}

.container__beneficios{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.container__padrao__sec__LeiMaquila#beneficios .grid2col{
    width: 100%;
    margin-top: 50px;
    grid-gap: 45px;
}

.container__padrao__sec__LeiMaquila#beneficios h2{
    font-size: 30px;
}

.container__padrao__sec__LeiMaquila#beneficios h3{
    font-size: 24px;
}

.container__padrao__sec__LeiMaquila#beneficios h3 span{
    color: var(--cor-secundaria);
}

.container__padrao__sec__LeiMaquila#beneficios p{
    margin-top: 24px;
}

.grid1col{
    display: grid;
    grid-template-columns:repeat(1,1fr);
    grid-auto-rows: minmax(180px,auto);
}

#isencoes__reducoes h2{
    font-size: 30px;
    color: var(--cor-secundaria);

}

#isencoes__reducoes p{
    font-size: 18px;
    width: fit-content;
}

#isencoes__reducoes i{
    font-size: 7px;
    color: var(--cor-secundaria);
}

#isencoes__reducoes div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: #cccccc;
}

#contato{
    background-image: url(img/background-com-detalhes.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right center;
}

#contato h2{
    font-size: 30px;
}

#contato h3{    
    font-size: 14px;
    padding-left: 4px;
    font-weight: 400;
    margin: 20px 0 5px 0;
}

#contato p{
    font-size: 18px;
}

#contato > div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.container__form__contato{
    background-color: #191919ce;
    padding: 100px 20px;
}

.container__form__contato > div{
    max-width: 641px;
    margin-left: auto;
    padding-right: 105px;
}

.container__form__contato p{
    margin: 10px 0;
    width: 70%;
}

.container__form__contato input,textarea{
    width: 100%;
    padding: 16px;
    color: #757575;
    background-color: #191919;
    border: 2px solid #191919;
    border-radius: 2px;
    
}

.container__form__contato button{
    background-color: var(--cor-secundaria);
    border: 2px solid var(--cor-secundaria);
    color: #0E0E0E;
    padding: 13px 32px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    float: right;
    margin-top: 35px;
}


textarea{
    resize: none;
}

footer{
    max-width: 1420px;
    margin: auto;
}


#footer{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
    padding: 45px;
}

#footer h2{
    font-size: 34px;
    color: var(--cor-secundaria);
    margin-top: 0px;
}

#footer h3{
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    width: 40%;
}

footer h4{
    font-size: 14px;
    color: #757575;
    font-weight: 400;
}

#footer nav{
    z-index: 3;
    margin-top: 65px;
   
}

#footer ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    list-style-type: none;
}

#footer li a{
    position: relative;
    color: #ffffff;
    font-size: 16px;
    padding: 10px;

}

#footer li a::before,
#footer li a::after {
  position: absolute;
  width: 15px;
  height: 10px;
  content: "";
  transition: border-color 1s ease-out;
  border-color: transparent;
  
} 

#footer li a:hover::before {
    left: 0;
    top: 0;
    border-left: 2px solid var(--cor-secundaria);
    border-top: 2px solid var(--cor-secundaria);
   }

#footer li a:hover::after{
    right: 0;
    bottom: 0;
    border-right: 2px solid  var(--cor-secundaria);
    border-bottom: 2px solid var(--cor-secundaria) ;
}

#footer p{
    font-size: 14px;
    margin-top: 15px;
    width: 100%;
}

.info__empresa__footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.info__empresa__footer a{
    padding: 8px 9px 6px 9px;
    border: 1px solid #424242;
    margin-left: 5px;
    transition-property: border-color;
    transition-duration: 0.5s;

}

.info__empresa__footer a:hover{
    border-color: var(--cor-secundaria);
    
}

.rights__reserved{
    max-width: 1420px;
    padding: 20px 45px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.rights__reserved div{
    display: flex;
    justify-content: flex-end;
}
