@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Decalotype';
    box-sizing: border-box;
}
:root{
    --cor-principal: #2E2E2E;
    --cor-secundaria: #FFD93B;
    --fonte-principal: 'Decalotype'
    
}

@font-face {
    font-family: 'Decalotype';
    src: url('fontes/TTF/Decalotype-Regular.ttf') format('ttf'), url('fontes/OTF/Decalotype-Regular.otf') format('otf'), url('fontes/WEB/Decalotype-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Decalotype';
    src: url('fontes/TTF/Decalotype-Medium.ttf') format('ttf'), url('fontes/OTF/Decalotype-Mediumt.otf') format('otf'), url('fontes/WEB/Decalotype-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Decalotype';
    src: url('fontes/TTF/Decalotype-SemiBold.ttf') format('ttf'), url('fontes/OTF/Decalotype-SemiBold.otf') format('otf'), url('fontes/WEB/Decalotype-SemiBold.woff') format('woff');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Decalotype';
    src: url('fontes/TTF/Decalotype-Bold.ttf') format('ttf'), url('fontes/OTF/Decalotype-Bold.otf') format('otf'), url('fontes/WEB/Decalotype-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}

body{
    margin: 0 auto;
    min-width: fit-content;
    background-color: #191919;
}

nav{
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.45);
}

h1{
    margin-top: 10px;    
    color: var(--cor-secundaria);
    font-weight: 600;
    z-index: 100;
    font-size: 61px;
}

h2{
    margin-top: 10px;
    font-weight: 600;
    color: white;
    font-size: 40px;
    letter-spacing: 1px;
}

h3{
    color: white;
}

a{
    color: var(--cor-secundaria);
    text-decoration: none;
}

p{
    font-weight: 400;
    color: #cccccc;
    font-size: 18px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

nav li {
    float: left;
    color: #cccccc;
  }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

.display__flex{
    display: flex;
}

.list__orienation{
    display: block;
    width: 80%;
}

.list__orienation > li{
    margin-top: 15px;
    font-size: 16px;
    color: #E0E0E0;
    border-left: solid 1px #FFD93B;
    padding-left: 10px;
}
.container__properties{
    max-width: 1620px;
    height: inherit;
    padding: 75px 45px;
    margin: auto;
}

.container__half__equalwidth{
    width: 50%;
    padding-right: 145px;
}



.container__flex__orientation__center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec__principal{
    
    z-index: 2;
    margin-top: -90px;
    width: 100%;
    height: 900px;
    background-image: url(img/background-edited.jpg);
    background-size: cover;
    background-position: center;
    
    
}

.sobreposicao__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 100%;
    gap: 50px;
    padding: 10px;
}

.container__texto__principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    
}

.container__texto__principal h1{
    width: 60%;
}

.container__icone{
    display: flex;
    align-items: flex-end;
    height: 200px;
}
.transparent__button{
    font-size: 18px;
    color: white;
    border: solid 1px #9E9E9E;
    padding: 15px 40px;
    border-radius: 2px;
    font-weight: 700;
    letter-spacing: 1px;
}

.black__button{
    font-size: 18px;
    border: solid 1px #0E0E0E;
    background-color: #0E0E0E;
    padding: 15px 40px;
    border-radius: 2px;
    font-weight: 700;
    letter-spacing: 1px;
}

.container__botoes{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

#sec2{
    
    padding: 76px 45px;
    background-color: #191919;
}

.sec__2__holdContent{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 516px;
    gap: 20px;
}

.sec__2__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    width: 50%;
    height: 100%;
}
.sec__2__content p{
    width: 65%;
}
.sec__2__content #c1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    padding-left: 75px;
    height: 85%;
}

.sec__2__content #c2{
    display: flex;
    align-items: flex-end;
    gap: 15px;
    width: 80%;
}

#c1 p{
    margin-top: 30px;
}


#sec3{
    width: 100%;
    height: 655px;
    overflow: hidden;
    background-color: #212121;
}

.img__map{
    width: 100%;
    max-width: 600px;
    height: auto;
}

.container__lista{
    margin: 30px 0 0 30px;
}

.hr__w{
    width: 30%;
    background-color: transparent;
    border: 1px solid #424242;
}
.hold__image{
    text-align: start;
    width: 50%;
}

.img__sec2{
    width: 100%;
    max-width: 640px;
    object-fit: cover;
}

.grid{
    color: #E0E0E0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(107px, auto);
    width: 66%;
}

.grid > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border: 1px solid #616161;
    text-align: center;
    max-width: 246px;
    font-size: 16px;
    font-weight: 400;
}

.grid .borderless{
    border: 0px solid;
}

.div__vantagens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    width: 30%;
    margin-right: 100px;
    padding-right: 30px;
}

.div__vantagens h2{
    margin-top: 13px;
    color: var(--cor-secundaria);
    font-size: 50px;
}

.div__vantagens h3{
    font-size: 30px;
    font-weight: 600;
}
.div__vantagens a{
    margin-top: 42px;
}

.container__padrao__sec__LeiMaquila{
    margin: 30px 0 30px 0;
    padding: 80px 110px;
    background-color: #212121;
}

.container__LeiMaquila__div1{
    margin: 0 auto;
    text-align: center;
}

.container__LeiMaquila__div2{
    margin-top: 65px;
    text-align: start;
}

.container__padrao__sec__LeiMaquila h2{
    margin-bottom: 25px;
    font-size: 61px;
    font-weight: 600;
}

.container__padrao__sec__LeiMaquila h3{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
}

.container__LeiMaquila__div1 p{
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    width: 55%;
}

.container__LeiMaquila__div2 p{
    font-size: 18px;
}

.grid2col{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(210px, auto);
    grid-gap: 30px;
    width: 95%;
    margin: 0 auto;
}

.caracteristicas__LeiMaquila{
    display: flex;
    align-items: flex-start;
    padding: 30px;
    background-color: #212121;
}

.caracteristicas__LeiMaquila p{
    font-size: 16px;
    font-weight: 400;
}

.caracteristicas__LeiMaquila h4{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--cor-secundaria)
}

.caracteristicas__LeiMaquila > div{
    margin-left: 33px;
}

.sec4__title{
    display: flex;
    align-items: center;
    gap: 40px;
    
}

.sec4__title h2{
    color: var(--cor-secundaria);
    font-size: 40px;
}
.sec4__title hr{
    margin-top: 10px;
    width: 71%;
}

.container__beneficios{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.container__padrao__sec__LeiMaquila#beneficios .grid2col{
    width: 100%;
    margin-top: 50px;
    grid-gap: 45px;
}

.container__padrao__sec__LeiMaquila#beneficios h2{
    font-size: 30px;
}

.container__padrao__sec__LeiMaquila#beneficios h3{
    font-size: 24px;
}

.container__padrao__sec__LeiMaquila#beneficios h3 span{
    color: var(--cor-secundaria);
}

.container__padrao__sec__LeiMaquila#beneficios p{
    margin-top: 24px;
}

.grid1col{
    display: grid;
    grid-template-columns:repeat(1,1fr);
    grid-auto-rows: minmax(180px,auto);
}

#isencoes__reducoes h2{
    font-size: 30px;
    color: var(--cor-secundaria);

}

#isencoes__reducoes p{
    font-size: 18px;
    width: fit-content;
}

#isencoes__reducoes i{
    font-size: 7px;
    color: var(--cor-secundaria);
}

#isencoes__reducoes div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: #cccccc;
}

