@charset "utf-8";
:root{
    --fonte-primaria: 'Passion One';
    --fonte-secundaria: 'Sriracha'
}
*{
    padding: 0px;
    margin: 0px;
}
header{
    background-color: black;
    text-align: center;
    padding: 90px 20px;
}
header > h1{
    font-family: var(--fonte-primaria);
    font-size: 52px;
    color: white;
    font-variant: small-caps;
}

header > p{
    color: white;
    font-weight: 200;
}

section > section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
}

section > p{
    font-family: var(--fonte-secundaria);
    font-size: 21px;
    padding-left: 10px;
}

section.imagem{
    background: black url(imagens/background001.jpg) bottom right /cover no-repeat fixed;
    padding: 90px 0px;

}

.imagem > p{
    display: inline-block;
    color: white;
    background-color: #0000005e;
    padding: 15px;
}